################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FMT.ETLProcess/CopilotIndices/17.14.995.13737
/.gitignore
.vs/FMT.ETLProcess/CopilotIndices/17.14.995.13737/CodeChunks.db
.vs/FMT.ETLProcess/CopilotIndices/17.14.995.13737/SemanticSymbols.db
/.vs/FMT.ETLProcess/CopilotIndices/17.14.995.13737/CodeChunks.db
/.vs/FMT.ETLProcess/CopilotIndices/17.14.995.13737/SemanticSymbols.db
/.vs/FMT.ETLProcess/v17/.suo
/.vs/FMT.ETLProcess/v17/DocumentLayout.json
